@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes plantLiveAnimation {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  49.99% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  100% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }


}


.plantLive {
  animation-name: plantLiveAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

.plantDying {
  animation-name: plantLiveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}